/* BODY */
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  background-color: darkgreen;
  width: 100%;
  z-index: 100;
  overflow: hidden; /* DO I WANT THIS */
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-decoration: none;
  padding: 14px 16px;
  font-family: Avant Garde, Helvetica;
  font-size: 20px;
  text-align: center;
}

.navbar a.active-link {
  background-color: rgb(1, 156, 1);
}

.navbar a:hover {
  background-color: white;
  color: darkgreen;
  font-weight: bold;
}

/* TEXT */

h1, h2 {
  text-transform: uppercase;
  font-family: "Trebuchet MS", Optima;
  text-align: center;
  margin-top: 3%;
  font-size: 2em;
  font-weight: bolder;
}

h1 {
  color: white;
}

h2 {
  color: darkgreen;
}

p {
  color: darkgreen;
  font-family: Perpetua, Rockwell Extra Bold;
  text-align: justify;
  letter-spacing: 1px;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

q {
  font-style: italic;
  font-weight: bold;
}

a {
  color: blue;
}

#github a {
  text-align: center;
  display: block;
}

/* HOME */
#home-video {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  z-index: -1;
}

.home-text {
  background: rgba(0, 120, 0, 0.5);
  width: 100%;
  padding: 20px;
  margin-top: 23%;
}

.home-text p {
  text-align: center;
  color: white;
  font-weight: bold;
  padding-left: 60px;
  padding-right: 60px;
}

/* TABLE */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column1 {
  float: left;
  width: 50%;
  padding: 10px;
  padding-top: 3%;
  background-color: white;
}

.column2 {
  float: left;
  width: 50%;
  padding: 10px;
  padding-top: 1.9%;
  background-color: darkgreen;
  position: relative;
}

.row1 {
  height: 400px;
}
.row2 {
  height: 400px;
}
.row3 {
  height: 500px;
}

/* IMAGES */
img {
  filter: sepia(100%) hue-rotate(90deg);
  max-width: 87%;
  max-height: 87%;
  width: auto;
  height: auto;
  border-radius: 8px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

img:hover {
  filter: none;
  transition: transform 2s;
  transform: scale(1.1);
}

/* FORM */
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid darkgreen;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  color: darkgreen;
  font-family: Perpetua, Rockwell Extra Bold;
  font-size: 20px;
}

textarea {
  height: 4em;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
  color: rgba(0, 64, 0, 0.521);
  font-family: Perpetua, Rockwell Extra Bold;
}

input[type="submit"] {
  background-color: darkgreen;
  color: white;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family:"Trebuchet MS", Optima;
}

form {
  padding: 20px;
  font-family: "Trebuchet MS", Optima;
  color: darkgreen;
}

/* FOOTER */
footer {
  padding: 2%;
  background-color: darkgreen;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 2px solid white;
  color: white;
}
footer p {
  text-align: center;
  color: white;
}

